/* line 1, ../../sass/_partials/components/social.scss */
.social-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 6, ../../sass/_partials/components/social.scss */
.social-links li {
  display: inline-block;
  margin: 0 3px;
}

/* line 10, ../../sass/_partials/components/social.scss */
.social-links .icon {
  display: block;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-background-size: 20px 20px !important;
  -moz-background-size: 20px 20px !important;
  -o-background-size: 20px 20px !important;
  background-size: 20px 20px !important;
  overflow: hidden;
  opacity: 1;
  -webkit-transition: opacity 500ms ease-in-out;
  -moz-transition: opacity 500ms ease-in-out;
  -o-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
}

/* line 30, ../../sass/_partials/components/social.scss */
.social-links .icon:hover {
  opacity: 0.7;
  -webkit-transition: opacity 200ms ease-in-out;
  -moz-transition: opacity 200ms ease-in-out;
  -o-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}

/* line 37, ../../sass/_partials/components/social.scss */
.social-links .icon.icon-twitter {
  background: url(../img/icon-twitter.png?1398715010) no-repeat 0 0;
}

/* line 40, ../../sass/_partials/components/social.scss */
.social-links .icon.icon-facebook {
  background: url(../img/icon-facebook.png?1398714906) no-repeat 0 0;
}

/* line 43, ../../sass/_partials/components/social.scss */
.social-links .icon.icon-google {
  background: url(../img/icon-google.png?1398714980) no-repeat 0 0;
}

/* line 46, ../../sass/_partials/components/social.scss */
.social-links .icon.icon-tumblr {
  background: url(../img/icon-tumblr.png?1398715559) no-repeat 0 0;
}

/* line 49, ../../sass/_partials/components/social.scss */
.social-links .icon.icon-vimeo {
  background: url(../img/icon-vimeo.png?1398715539) no-repeat 0 0;
}

/* line 52, ../../sass/_partials/components/social.scss */
.social-links .icon.icon-youtube {
  background: url(../img/icon-youtube.png?1398715038) no-repeat 0 0;
}

/* line 55, ../../sass/_partials/components/social.scss */
.social-links .icon.icon-linkedin {
  background: url(../img/icon-linkedin.png?1398715654) no-repeat 0 0;
}

/* line 58, ../../sass/_partials/components/social.scss */
.social-links .icon.icon-email {
  background: url(../img/icon-email.png?1398715679) no-repeat 0 0;
}

/* line 61, ../../sass/_partials/components/social.scss */
.social-links .icon.icon-flickr {
  background: url(../img/icon-flickr.png?1398714947) no-repeat 0 0;
}

/* line 64, ../../sass/_partials/components/social.scss */
.social-links .icon.icon-github {
  background: url(../img/icon-octocat.png?1398715632) no-repeat 0 0;
}
