
@import "compass";
@import "susy";


$susy: (
columns:10,
gutters: 1/4,
global-box-sizing:border-box,
debug: (image: show)
);

.date {
	@include span(10 of 10);	
}

.rsvp-form{
	width: span(6);
	margin: 0 auto;
}

.name-wrap{
	@include span(3 of 6);
}

.surname-wrap{
	@include span(3 of 6 last);
}

.dropdown-wrap{
	@include span(6 of 6);
}
.submit-btn-wrap{
	width: span(5);
	margin: 0 Auto;
}
.rsvp input,
.rsvp select{
	@font-family: futurist;
	font-size: 32px;
}

.homenav{
	width:span(6);
	margin:0 auto;
	@include clearfix;
}
.rsvpline{
	width:span(9.8);
	margin:0 auto;
}
.footer-overlay{
	@include span(10 of 10);
	@include clearfix;
}

.footer-image{
	@include span(10 of 10);
	@include clearfix;
}

.contact-wrap{
	width: span(6);
	margin:0 auto;
}

.contact-post{
	@include span(3 of 6 first);
}