/* line 13, sass/theme.scss */
.date {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

/* line 17, sass/theme.scss */
.rsvp-form {
  width: 59.18367%;
  margin: 0 auto;
}

/* line 22, sass/theme.scss */
.name-wrap {
  width: 48.27586%;
  float: left;
  margin-right: 3.44828%;
}

/* line 26, sass/theme.scss */
.surname-wrap {
  width: 48.27586%;
  float: right;
  margin-right: 0;
}

/* line 30, sass/theme.scss */
.dropdown-wrap {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

/* line 33, sass/theme.scss */
.submit-btn-wrap {
  width: 48.97959%;
  margin: 0 Auto;
}

/* line 37, sass/theme.scss */
.rsvp input,
.rsvp select {
  @font-family : futurist;
  font-size: 32px;
}

/* line 43, sass/theme.scss */
.homenav {
  width: 59.18367%;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}

/* line 48, sass/theme.scss */
.rsvpline {
  width: 97.95918%;
  margin: 0 auto;
}

/* line 52, sass/theme.scss */
.footer-overlay {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  overflow: hidden;
  *zoom: 1;
}

/* line 57, sass/theme.scss */
.footer-image {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  overflow: hidden;
  *zoom: 1;
}

/* line 62, sass/theme.scss */
.contact-wrap {
  width: 59.18367%;
  margin: 0 auto;
}

/* line 67, sass/theme.scss */
.contact-post {
  width: 48.27586%;
  float: left;
  margin-right: 3.44828%;
}
