/*_typography.scss*/

@include font-face('futurist', font-files('futurist.ttf'));

@include font-face('bebas', font-files('bebas.otf'));

@include font-face('prima', font-files('primadona.otf'));


body {
color: $text-color;
font-size: $base-font-size;
font-family: $base-font-family;
font-weight: $base-font-weight;
line-height: 1.6;
}

p{
	font-size: 16px;
	font-family: 'futurist';
}

h1 {
	font-size: 56px;
	font-family: 'futurist';

	@media #{$brk-narrow}{
		font-size:51px;
	}
	@media #{$brk-mobile}{
		font-size:36px;
	}
}

h2 {
	font-size: 82px;
	font-family: 'bebas';
	font-weight: 100;
}

.widget h2{
	font-size: $base-font-size;
}

h3{
	font-size: 32px;
	font-family: 'futurist';
	font-weight: 100;
}

.rsvp input,
.rsvp select{
	font-family: 'futurist';
	font-size: 32px;

	@media #{$brk-wide}{
		font-size:24px;	
	}

	@media #{$brk-narrow}{
		font-size:15px;
	}

	@media #{$brk-mobile}{
		font-size:12px;
	}
}

.contact-info p,
.contact-info h3{
	color:white;
	margin-top: 50px;
}

.fashion h1,
.homenav a{
	font-family: 'bebas';
	font-size: 82px;
	font-weight: 100;

	@media #{$brk-narrow}{
		font-size:67px;
	}
	@media #{$brk-mobile}{
		font-size:42px;
	}
}

.registry h1{
	font-family: 'bebas';
	font-size: 100px;
	font-weight: 300;

	@media #{$brk-narrow}{
		font-size:75px;
	}
	@media #{$brk-mobile}{
		font-size:50px;
	}
}

.fashion p{
	margin-top:50px;
}

.registry-link a{
	font-family:'prima' ;
	font-size: 50px;
}
.hotel-title,
.how-title{
	font-family: 'bebas';
	color: white;
}

.navholder li{
	font-family:'bebas';
}