@-moz-keyframes logo-fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes logo-fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes logo-fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#banner img{
  min-width: 100%;
}

header nav h1.open {  
  z-index: 101;
}
.logged-in header nav h1.open {
  top: 55px;
}
header nav h1.open a {
  margin: 0;
}

.navholder{}
nav {
  display: none;
  background: rgba(255, 255, 255, 0.98);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  overflow: scroll;
}
@media all and (min-width: 40.063em) {
  nav {
    overflow: visible;
  }
}
nav > ul {
  margin: 100px auto 0 !important;
  text-align: center;
  max-width: 300px;
}
@media all and (min-width: 40.063em) {
  nav > ul {
    margin: 100px 0 20px;
    max-width: 100%;
    text-align: center;
  }
}
nav > ul > li {
  display: block;
  position: relative;
}
@media all and (min-width: 40.063em) {
  nav > ul > li {
    display: inline-block;
    margin: 0 15px;
    vertical-align: top;
  }
}
@media all and (min-width: 64.063em) {
  nav > ul > li {
    margin: 0 50px;
  }
}
nav > ul > li > a {
  font-size: 1.4em;
  font-weight: 700;
  padding: 10px 20px;
  display: block;
}
nav > ul > li > a:hover {
  color: rgba(56, 64, 71, 0.8);
}
@media all and (min-width: 40.063em) {
  nav > ul > li > a {
    line-height: 60px;
    font-size: 1.6em;
  }
}
nav .sub-menu {
  display: block;
  margin: -10px 0 20px !important;
}
nav .sub-menu a {
  font-size: 1em;
  display: block;
  padding: 5px 20px;
}
@media all and (min-width: 40.063em) {
  nav .sub-menu a {
    padding: 5px 0;
  }
}
nav .sub-menu a:hover {
  color: rgba(56, 64, 71, 0.8);
}
@media all and (min-width: 40.063em) {
  nav {
    overflow: visible;
  }
}

.nav-toggle {
  background: rgba(255, 255, 255, 0.5);
  height: 50px;
  width: 60px;
  display: block;
  z-index: 102;
  position: fixed;
  top: 25px;
  right: 19px;
  opacity: 0.6;
  -webkit-transition: opacity 100ms ease-in-out;
  -moz-transition: opacity 100ms ease-in-out;
  -o-transition: opacity 100ms ease-in-out;
  transition: opacity 100ms ease-in-out;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.logged-in .nav-toggle {
  top: 50px;
}
.nav-toggle:hover {
  opacity: 1;
}
.nav-toggle span,
.nav-toggle span:before,
.nav-toggle span:after {
  display: block;
  cursor: pointer;
  height: 5px;
  width: 40px;
  background: #384047;
  position: absolute;
  display: block;
  content: "";
  left: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}
.nav-toggle span {
  top: 23px;
  left: 10px;
}
.nav-toggle span:before {
  top: -12px;
}
.nav-toggle span:after {
  bottom: -12px;
}
.nav-toggle span:hover span:before {
  top: -15px;
}
.nav-toggle span:hover span:after {
  bottom: -15px;
}
.nav-toggle.open {
  opacity: 1;
}
.nav-toggle.open span {
  background: none;
}
.nav-toggle.open span:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0;
  left: 0;
  background: #ed5a5a;
}
.nav-toggle.open span:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  bottom: 0;
  left: 0;
  background: #ed5a5a;
}

.site-title{
  position: absolute;
  top: 25px;
  left: 19px;
}

nav .current{
  top: 57px;
}.page-nav li {
  display: inline-block;
  margin-right: 10px;
}
.page-nav li a {
  background: #edeff0;
  padding: 10px;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
.page-nav li a:hover {
  background: #384047;
  color: white;
}