/* line 1, ../../sass/_partials/layout/footer.scss */
.footer-bottom {
  background-color: black;
}

/* line 5, ../../sass/_partials/layout/footer.scss */
.footer-bottom p {
  margin-bottom: 0;
  padding-top: 25px;
  padding-bottom: 25px;
}

/* line 11, ../../sass/_partials/layout/footer.scss */
.footer-button p {
  width: 100px;
  color: black;
  background-color: #666;
  border-radius: 5px 5px 0 0;
  text-align: center;
  cursor: pointer;
  margin: 50px auto 0;
}

/* line 21, ../../sass/_partials/layout/footer.scss */
.footer-slider {
  background-color: #666;
  display: none;
}

/* line 26, ../../sass/_partials/layout/footer.scss */
.right-footer .widget {
  float: right;
}

/* line 30, ../../sass/_partials/layout/footer.scss */
#studio42 {
  float: right;
  font-size: 1.5em;
  margin-top: 30px;
}

/* line 36, ../../sass/_partials/layout/footer.scss */
#studio42,
#copyright,
#copyright p {
  display: inline-block;
}

/* line 42, ../../sass/_partials/layout/footer.scss */
.footer_overlay {
  background-color: rgba(27, 61, 110, 0.66);
  z-index: 100;
  height: 500px;
}

/* line 47, ../../sass/_partials/layout/footer.scss */
.footer-image {
  background-image: url(images/footerimg.jpg);
  background-size: 100%;
  height: 500px;
}
