@import "_partials/base/_variables";
@import "_partials/base/_mixins";
@import "_partials/base/_extends";



.date h1{
	@extend %centered;
}

.date{
	height: 500px;
}


.homenav ul,
.centered,
.rsvp-form{
	position: relative;
	top: 30%;

	@media #{$brk-mobile}{
		top: 15%;	}
}

.rsvp{
	background-image: url("images/galaxy.jpg");
	background-size: cover;
	height: 500px;
	clear: both;
	
}
.rsvp::before{
	content: '';
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
	position: absolute;
	border: 1px solid white;
	margin:25px;
	height:450px;
	width: 97.5%;

	@media #{$brk-wide}{
		width:95%;
	}
	@media #{$brk-narrow}{
		width:92%;
	}
	@media #{$brk-mobile}{
		width:90%;
	}
}

.tardis{
	position: relative;
}
.tardis::before,
.tardis::after{
	position: absolute;
	z-index: -1;
	top: -350px;
	bottom: 0;
	
}
.tardis::before{
content: url("images/tardis.png");
left:0;

}

.tardis::after{
	content: url("images/tardis.png");
		-moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        right:0;
}

.field-wrap{
	height: 45px

	;
}

.ninja-forms-form-wrap input,
.ninja-forms-form-wrap select, 
.ninja-forms-form-wrap textarea{
	width: 100% !important;
	height: 45px !important;
}

.homenav a{
	@extend %centered;
	margin-top: 30px;
}

.homenav ul{
	position: relative;
	top: 10%;
}

.rsvpline{
	border:1px solid white;
}

.img-overlay{
	background-color: $t-blue;
    z-index: 100;
    height: 500px;
}

